<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genius Niveau 2</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>

</head>
<body>
      <header>
             <div class="logo">
                <p>
                    <span>Groupe Genius</span> Repetition
                </p>
             </div>
             <ul class="menu">
                <li> <a href="index.html"> Acceuil </a> </li>
                <li> <a href="index.html#menu"> Menu    </a> </li>
                <li> <a href="#about_us">  A propos </a> </li>
                <li> <a href="#inscription"> Contact </a> </li>
             </ul>

             <div class="toggle_menu">

             </div>
      </header>
 
      <!-- section accueil home -->
      <section id="home">
        <div class="left">
            <h4 >< Bienvenue  /> </h4>

            <h1 id="text"> </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quod nisi temporibus sapiente fugit, enim non aperiam cumque rerum illo iure labore, sint eligendi debitis magni ex. Aspernatur, tenetur magni!</p>
            <button> <a href="#">S'inscrire Maintenant</a></button>
        </div>
        <div class="right">
            <img src="images/geniuslevel1.png" alt="GENIUS"> 
        </div>
      </section>
      <!-- section accueil menue -->
       <section id="menu">
         <h1 class="mini_title">Pourquoi nos etudiants nous aiment </h1>
         <h2 class="title">(un peu, beaucoup, souvent à la folie) </h2>
         <div class="dishes">
          <button class="accordion">Un accompagnement individuel et approfondi</button>
          <div class="panel">
            <p>Grâce à l’option « Prof en ligne », un professeur est disponible tous les jours via tchat.</p>
          </div>
          
          <button class="accordion">Une approche bienveillante et positive de l’apprentissage</button>
          <div class="panel">
            <p>Le meilleur pour la fin, la cerise sur le gâteau, le petit plus qui change tout !</p>
          </div>
          
          <button class="accordion">Tes objectifs
            tu atteindras</button>
          <div class="panel">
            <p>Il y a autant de façon d'apprendre qu'il y a d'élèves. Ils refusent de rentrer dans des cases, et ça tombe bien, on préfère les ronds. Nous accompagnons chacun en fonction de ses propres objectifs pour qu'apprendre (re)devienne un plaisir. </p>
          </div> 
         </div>

       </section>

       <!-- Section  a propos de nous-->

       <section id="about_us">
          <h4 class="mini_title">GENIUS NIVEAU 1</h4>
          <h2 class="title">Pourquoi nous REJOINDRE ?</h2>
          <div class="about">
            <div class="left">
                <img src="images/geniusmile.png">
            </div>

            <div class="right">
                <h3> Le GROUPE LEADER.</h3>
                <P> Dans la bienveillance tu apprendras  On préfère largement la carotte au bâton ! Persuadés que l’humour peut parfaitement cohabiter avec l’éducation, nous diffusons la connaissance avec un ton décomplexé et assumé. On est convaincus qu'on peut aussi apprendre en s’amusant (et en souriant !)</P>
                <button> <a href="#"> Decouvre Plus</a></button>
            </div>
          </div>
       </section>
       <!-- Section  a propos de nous-->
        <section class="comment_section">
            <h4 class="mini_title">Commentaire:</h4>
          <h2 class="title">Ils nous ont fait confiance.</h2>
          
          <div class="comments"> 
            <div class="container">
              <div class="mySlides">
                <div class="numbertext">1 / 6</div>
                <img src="images/true/Screenshot_20210730-223715.png" style="width:50%">
              </div>
            
              <div class="mySlides">
                <div class="numbertext">2 / 6</div>
                <img src="images/true/Screenshot_20210730-223729.png" style="width:50%">
              </div>
            
              <div class="mySlides">
                <div class="numbertext">3 / 6</div>
                <img src="images/true/Screenshot_20211001-210743.png" style="width:50%">
              </div>
                
              <div class="mySlides">
                <div class="numbertext">4 / 6</div>
                <img src="images/true/Screenshot_20211005-165940.png" style="width:50%">
              </div>
            
              <div class="mySlides">
                <div class="numbertext">5 / 6</div>
                <img src="images/true/Screenshot_20211005-170000.png" style="width:50%">
              </div>
                
              <div class="mySlides">
                <div class="numbertext">6 / 6</div>
                <img src="images/true/Screenshot_20211020-221919.png" style="width:50%">
              </div>
                
              <a class="prev" onclick="plusSlides(-1)">❮</a>
              <a class="next" onclick="plusSlides(1)">❯</a>
            
              <div class="caption-container">
                <p id="caption"></p>
              </div>
            
              <div class="row">
                <div class="column">
                  <img class="demo cursor" src="images/true/Screenshot_20210730-223715.png" style="width:50%" onclick="currentSlide(1)" alt="The Woods">
                </div>
                <div class="column">
                  <img class="demo cursor" src="img_5terre.jpg" style="width:50%" onclick="currentSlide(2)" alt="Cinque Terre">
                </div>
                <div class="column">
                  <img class="demo cursor" src="img_mountains.jpg" style="width:50%" onclick="currentSlide(3)" alt="Mountains and fjords">
                </div>
                <div class="column">
                  <img class="demo cursor" src="img_lights.jpg" style="width:50%" onclick="currentSlide(4)" alt="Northern Lights">
                </div>
                <div class="column">
                  <img class="demo cursor" src="img_nature.jpg" style="width:50%" onclick="currentSlide(5)" alt="Nature and sunrise">
                </div>    
                <div class="column">
                  <img class="demo cursor" src="images/true/Screenshot_20211020-221919.png" style="width:50%" onclick="currentSlide(6)" alt="Snowy Mountains">
                </div>
              </div>
            </div> 
   <!--
<div class="container">
              <img src="images/mrJoelYk.png" alt="Avatar" style="width:90px">
              <p><span>Chris Fox.</span> CEO at Mighty Schools.</p>
              <p>John Doe saved us from a web disaster.</p>
            </div>
            
            <div class="container">
              <img src="images/mrJoelYk.png" alt="Avatar" style="width:90px">
              <p><span>Rebecca Flex.</span> CEO at Company.</p>
              <p>No one is better than John Doe.</p>
            </div>
            
          </div>
   -->
            
        </section>
       

        <!-- section inscription -->
        <section id="inscription">
            <h4 class="mini_title">Inscription:</h4>
            <h2 class="title">Rejoingnez nous ! </h2>
            <form action="">
                <label>Votre Nom </label>
                <input type="text">
                <label>Votre Email</label>
                <input type="email">
                <label>Votre Numero de telephone</label>
                <input type="text">
                <label>Date</label>
                <input type="date">
                <input type="submit" value="S'incrire">
            </form>
        </section>
        <!--Footer-->
        <footer>
            <div class="references">
                <div class="reference">
                    <img src="images/computer.png" alt="horloge">
                    <h2>......</h2>
                    <p></p> 
                </div>
                <div class="reference">
                    <img src="images/endroit.png" alt="horloge">
                    <h2>......</h2>
                    <p></p> 
                </div>
                <div class="reference">
                    <img src="images/telephone.png" alt="horloge">
                    <h2>......</h2>
                    <p></p> 
                </div>
                <hr>
            </div>
            <p class="footer_text">Copyright © 2022 Groupe-Genius-Repetition Tous les droits sont réservés. Realise par <span>Joël_yk</span>. </p>
        </footer>
        <script>
            var small_menu = document.querySelector('.toggle_menu')
            var menu = document.querySelector('.menu')
               small_menu.onclick=function(){
                small_menu.classList.toggle('active');
                menu.classList.toggle('responsive');
               }
        </script>
</body>

<script type="text/javascript">
  var it = 0;
  var txt = 'Genius Niveau 2'; /* The text */
  var speed = 150; /* The speed/duration of the effect in milliseconds */

function typeWriter() {
  if (it < txt.length) {
     document.getElementById("text").innerHTML += txt.charAt(it);it++; setTimeout(typeWriter, speed);}}
typeWriter();
var acc = document.getElementsByClassName("accordion");
var i;

var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
acc[i].addEventListener("click", function() {
this.classList.toggle("active");
var panel = this.nextElementSibling;
if (panel.style.maxHeight) {
panel.style.maxHeight = null;
} else {
panel.style.maxHeight = panel.scrollHeight + "px";
} 
});

} 
// ----
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let ii;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("demo");
  let captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (ii = 0; ii < slides.length; ii++) {
    slides[ii].style.display = "none";
  }
  for (ii = 0; ii < dots.length; ii++) {
    dots[i].className = dots[ii].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>
</html>