@import url(https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@700&family=Poppins:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600&display=swap);
/*@import url();*/
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    /* font-family: 'Gentium Book Basic', serif;*/
    font-family: 'Poppins';
}
section{
    margin-top: 50px;
}

body{
    position: relative;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 10px;
    position: fixed;
    top:0%;
    left:0%;
    right: 0%;
    background-color: whitesmoke;
    box-shadow: 0 0 10px black;
    z-index: 10;
}


.menu{
    display: flex;
}

.logo{
    color: black;
    font-weight: 700;
    font-size: 25px;
}

.logo span {
    color : gold;
}

.menu li {
    margin : 0 15px;
    list-style: none;
}

.menu li a {
    font-size: 18px;
    -webkit-text-decoration: 0;
    text-decoration: 0;
    color: black;
    position: relative;
}

.menu li a::before{
    position: absolute;
    top:-5px;
    left: 0;
    content: "";
    width: 0;
    height: 2px;
    border-radius: 6px;
    background-color: gold;
    transition: 0.5s;
}
.menu li a:hover::before{
    width: 100%;
}
.article-pan{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.back-img{
    /*position: relative;*/
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.2);
}

/*.back-img img{*/
/*    width: 100%;*/
/*}*/
.article{
    /*background-color: #004471;*/
    width: 80%;
    margin-bottom: 60px;
}
#art2{
    /*background-color: #ffc43a;*/
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    margin-right: 30px;
}
#art2 .bottom{
    width: 90%;
}
#art2 .bottom p{
    color: white;
}
#art2 h4{
    color: #ffc43a;
}
#art3{
    margin-top: 100px;
}
#art3 .bottom p{
    color: #999;
}
#art3 .bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#art3 .bottom div{
    width: 48%;
    /*background: #007bff;*/
}
#art3 .bottom div ul{
    margin: 20px 0 20px 40px;
    font-size: 1.8em;
    color: #999;
    list-style-type: disclosure-closed;

}
#art3 .bottom div ul li{
    margin: 10px 0 0 0;
}
#art3 h4{
    color: #ffc43a;
}

@keyframes left {

    0% { transform: rotate(0deg) }
    100% { transform: rotate(37deg);}
}
@keyframes right {

    0% { transform: rotate(0deg) }
    100% { transform: rotate(-20deg);}
}

#art4 h4{
    color: #ffc43a;
    font-size: 1.8em;
}
#art4 ul{
    margin-left: 30px;
    list-style-type: disclosure-closed;
    color: #ffc43a;
}
#art4 .bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#art4 .R{
    /*background: #004471;*/
    width: 50%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#art4 .R span{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #fdd974;
    width: 450px;
    min-height: 450px;
    padding: 25px;
    box-shadow: rgb(34 34 34 / 30%) 9px 9px 30px 0px;
    border-radius: 3px;
    transition: 4s;
}

#art4 .R .inf ::before{
    position: absolute;
    content: "";
    top: 0;
    /*left: 0;*/
    box-sizing: unset;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(194, 162, 252, 0.7);
    width: 90%;
    height: 90%;
    padding: 20px;
    animation: left 2.5s ease-out;
    transition: 2.5s;
    transform: rotate(37deg);
    box-shadow: rgb(34 34 34 / 30%) 3px 4px 10px 8px

}

#art4 .R .inf ::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;

    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #befcda;
    width: 95%;
    height: 95%;
    padding: 20px;
    animation: right 2.5s ease-out;
    transition: 2.5s;
    transform: rotate(-20deg);
    box-shadow: rgb(34 34 34 / 30%) 9px 9px 30px 0px;}
p{
    color: #999;
    font-size: 20px;

}
.article .bottom{
    width: 50%;
}
.article h4 {
    font-size: 4em;
    margin-bottom: 10px;
}
#txt {
    min-height: 1em; /* or any other value you prefer */
    font-size: 1.2em;
}
/* Style du home */

#home{
    margin-top: 50px;
    display: flex;
    align-items: center;
    margin-left:10%;
    margin-right: 10%;
    height: calc(100vh - 50px);
    justify-content: space-between;

}

#home .left {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home .left h4 {
    font-size: 4em;
    color :black;
}

#home .left h1{

    font-size: 8em;
    color : gold;

}

#home .left p {
    font-size: 20px;
    color: #999;
}

#home .left button{
    margin-top: 20px;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px 10px;
    background-color: black;
    border: 0;
    transition: 0.5s;
    position: relative;
    cursor: pointer;
}

#home .left button a {
    -webkit-text-decoration: 0;
    text-decoration: 0;
    color : whitesmoke;
    font-weight: bold;
    text-transform: uppercase;
}

#home .left button::before{
    position: absolute;
    left: 5px;
    top: 5px;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: gold;
}

#home .left button:hover a {
    letter-spacing: 1px;
}

#home .right {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home .right img{
    width: 100%;
    animation: animate 2s linear;
    transition: 0.5s;
}

/* Animation de l'image : */

@keyframes animate {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

/* Menu css*/

#menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 50px 10px;
    min-height: 70vh;
}

.mini_title{
    margin-top: 25px;
    font-size: 25px;
    color: rgb(0, 162, 255);
    text-transform: capitalize;
}
.title{
    font-size: 26px;
    text-transform: uppercase;
    color: red;
    margin-bottom: 25px;
    text-align: center;
}
.dishes{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-around;
}

.dishes .dish h2{
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 700;
    color: #222222;
    font-family: system-ui;
}
.dishes .dish{
    height: 340px;
    width: 25%;
    /*border: 0.5px solid #ffdb05;*/
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 35px;
    transition: 0.5s;
    box-shadow: 4px 6px 14px 10px rgba(34, 34, 34, 0.3);

}
.dishes .dish .pop {

    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffc43a;
    background-color: #ffedc6;
    font-size: 1.1em;
    font-weight: 400;
    font-stretch: expanded;
    border-radius: 5px;
    padding: 2px 10px 2px 7px;
}
.dishes .dish .pop span{
    height: 5px;
    width: 5px;
    background-color: #ffc43a;
    border-radius: 50%;
    margin-right: 5px;
}
.dishes .dish img{

    width: 100%;
    height: 60%;
    margin-bottom: 15px;
}
.dishes .dish p{
    text-align: center;
    font-size: 18px;
}
.desc{
    /*background-color: #007bff;*/
    display: flex;
    height: 10%;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis !important;
    margin: 5px 0 10px 0;
    color: #4a5568;
    font-family: system-ui;
    font-size: 1.2em;
}
.dishes .dish a{
    margin-bottom: 10px;
    font-size: 14px;
    -webkit-text-decoration: 0;
    text-decoration: 0;
    background-color: gold;
    padding: 5px 60px ;
    color: #fff;
    border-radius:6px;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: red;
}

/*about us Css*/
#about_us{
    display: flex;
    align-items: center;
    height: calc(100vh - 50px);
    flex-direction: column;
    padding: 50px 10%;
    width: 100%;
}
.about{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 70vh;
}

.about .left{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.about .left img{
    width: 90%;
}
.about .right{
    width: 90%;
}

.about .right h3{
    font-size: 35px;
    color: aqua;
    margin: 10px 0;
}
.about .right p{
    font-size: 14px;
    color: black;
}

.about .right button{
    margin: 20px 0;
    padding: 5px 60px;
    background-color: red;
    border: 1px solid #222222;
}

.about .right button a{
    color:azure;
    -webkit-text-decoration: 0;
    text-decoration: 0;
    font-weight: bolder;
}

#comment_section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 50px);
    flex-direction: column;
    padding: 0 10%;
}

#comments{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.comments .comments div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.comments .comment div img{
    border: 2px solid black;
    border-radius: 100%;
    width: 130px;
    height: 200px;
    margin-bottom: 15px;
}
.comments .comment{
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 1px;
    padding: 20px;
}
.comments .comment div h4{
    margin-left: 15px;
    font-size: 14px;
    color: red;
}

/*inscription Css*/

#inscription {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

#inscription form{
    display: flex;
    background-color: rgba(206, 206, 206, 0.5) ;
    padding: 25px;
    border-radius: 6px;
    flex-direction: column;
    width: 350px;

}
#inscription form label{
    margin-bottom: 8px;
    font-size: 14px;
}
#inscription form input{
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid transparent;
    box-shadow: 0 0 10px rgba(206, 206, 206, 0.5);
    outline: 0;
}

#inscription form input:focus{
    outline: 1px solid red;
}

#inscription form input[type="submit"]{
    margin-top: 15px;
    color: blanchedalmond;
    background-color: red;
    border: 1px solid red;
}

/* footer css*/

footer{
    width: 100%;
    bottom: 0;
    background-color: gainsboro;

}

footer .references{
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.reference img{
    width: 50px;
    background-color: red;
    padding: 8px;
    border-radius: 50%;
}
.reference{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 25px auto;
}
.reference p{
    color: #999;
}

hr{
    background-color: #ccc;
    border: 0;
    height: 2px;
    width: 100%;
}

.footer_text{
    text-align: center;
    font-size: 15px;
    padding: 7px 0;
}

.footer_text span{
    color: red;
}


.toggle_menu{
    display: none;
}
/* resposnsive */
@media (max-width: 875px){

    .article p{
        font-size: 1.6em;
    }
    article h4{
        font-size: 2.6em;
    }
    .back-img{
        background: white!important;
    }

    #art2 .bottom{
        width: 100%;
    }
    #art2{
        width: 90%;
        margin-left: 20px;
    }
    #art2 .bottom p{
        color: #999;
        width: 100%;
    }
    #art3 .bottom{
        flex-direction: column;
        width: 90%;
    }
    #art3 .bottom div{
        width: 100%;
    }
    #art3 h4{
        font-size: 2.6em;
    }
    #art4 .R{
        display: none;
    }
}
@media (max-width: 1060px){
    header .menu {
        display: none;
    }
    header {
        padding: 0 20px;
    }
    #home{
        flex-direction: column;
        padding: 12px;
        height: -moz-fit-content;
        height: fit-content;
    }
    #home .left , #home .right{
        width: 100%;
        padding: 0;
    }

    #home .left{
        margin: 100px 0;
    }

    #home .left h1{
        font-size: 20px;
    }
    #home .left h4{
        font-size: 15px;
    }
    #home .left p{
        font-size: 15px;
    }

    #menu .dishes .dish{
        width: 100%;
        max-width: 260px;
    }
    #about_us {
        padding: 10px;
        height: auto;
    }
    #about_us .about{
        flex-direction: column;
        height: -moz-fit-content;
        height: fit-content;
    }

    #about_us .left , #about_us .right{
        width: 100%;
    }

    #about_us .left {
        height: -moz-fit-content;
        height: fit-content;
    }

    #about_us .left img{
        width: 50%;
    }

    #about_us .rigth{
        text-align: center;
    }

    .comment_section{
        height: auto;
    }

    .comment_section .comments .comment{
        width: 100%;
        margin-top:20px;
    }
    .references .reference{
        padding: 0 50px;
    }
    .toggle_menu{
        display: flex;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
    }
    .center-menu-bar{
        width: 28px;
        height: 3px;
        border-radius: 15px;
        background-color: red;
        transition: 0.5s;
    }
    .toggle_menu::before{
        position: absolute;
        content: "";
        height: 3px;
        width: 28px;
        background-color: red;
        border-radius: 6px;
        transform: translateY(-10px);
        transition: 0.5s;
    }
    .toggle_menu.active::before{
        transform: translateY(0) rotate(135deg);
        box-shadow: red;
    }

    .toggle_menu::after{
        position: absolute;
        content: "";
        height: 3px;
        width: 28px;
        background-color: red;
        border-radius: 6px;
        transform: translateY(10px);
        transition: 0.5s;
    }

    .toggle_menu.active::after{
        transform: translateY(0) rotate(-135deg);
        box-shadow: red;}

    header .menu.responsive{
        display: flex;
        position: absolute;
        top: 52px;
        left: 0;
        width: 90%;
        max-width: 300px;
        height: 100vh;
        background-color: #dcdcdc;
        box-shadow: 20px 0px 10px rgba(0, 0, 0, 0.21);
        flex-direction: column;
    }
    header .menu.responsive li{
        margin: 0;
        border-bottom: 0.7px solid #4a5568;
    }
    header .menu.responsive li a{
        display: flex;
        width: 100%;
        padding: 15px 0 15px 30px;
    }

    /*.article-pan{*/
    /*    background-color: #ffc43a;*/
    /*}*/


    /*element.style {*/
    /*    background-image: url(//localhost:3000/images/backgrounds/back1.jpg);*/
    /*    background-size: cover;*/
    /*    background-position: center center;*/
    /*}*/
    .back-img {
        /* position: relative; */
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 450px;
        background-color: rgba(0, 0, 0, 0.2);
    }
    #art2 h4 {
        font-size: 3em;
    }
    p{
        font-size: 2em;
    }
}

.container {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
    min-height: 70vh;

}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

.container span {
    font-size: 20px;
    margin-right: 15px;
}

@media (max-width: 500px) {
    .container {
        text-align: center;
    }
    .container img {
        margin: auto;
        float: none;
        display: block;
    }
}
/* Genius niveau style
.container {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0
  }

  .container::after {
    content: "";
    clear: both;
    display: table;
  }

  .container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }

  .container span {
    font-size: 20px;
    margin-right: 15px;
  }

  @media (max-width: 500px) {
    .container {
        text-align: center;
    }
    .container img {
        margin: auto;
        float: none;
        display: block;
    }
  }
  */
/* Style the buttons that are used to open and close the accordion panel */

.accordion {
    background-color: rgb(41, 154, 247);
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.accordion:after {
    content: '\002B';
    color: white ;
    font-weight: bold;
    float: right;
    margin-left: 15px;
}
.toggle_menu.active span.center-menu-bar{
    width: 0;
}
.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    font-size: 15px;
    transition: max-height 0.2s ease-out;
    text-align: left;
}
/* Css slideshow animation*/
body {
    font-family: Arial;
    margin: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}
e{
    color: #222222;
}

